# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore devel modules
sites/all/modules/devel
sites/all/modules/devel_themer
sites/all/modules/simplehtmldom

# Ignore Sass cache and dev files
.sass-cache
.ruby-version
node_modules
npm-debug.log
