@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body {
  background-color: #F5F5F5;
  padding: 0px;
}

.status-wrapper {
  font-family: 'Ubuntu', sans-serif;

}

.status-wrapper .col-1,
.status-wrapper .col-2 {
  float: left;
}

.status-header {

}

.status-tab {
  font-weight: bold;
  margin-bottom: 20px;
  width: 40px;
}

.btn.brevkasser{
  margin: 10px 0 0 25px;
}

.btn.pairchat {
}

.status-content{
  padding: 0 8px; 
  width: 160px;
}

.status-content ul{
  margin: 0;
  padding: 0;
}

.status-content ul li{
  font-size: 12px;
  list-style: none;

}

.status-info {
  font-family: 'Ubuntu', sans-serif; 
  font-size: 12px; 
}
.read-more {
  display: inline-block; 
  margin: 10px 0 0; 
  text-align: center; 
  width: 100%;
}
.read-more a {
  color: #0B5A7C; 
  font-family: 'Ubuntu', sans-serif; 
  font-size: 12px; 
  text-decoration: none;
}
.read-more a:hover{
  text-decoration: underline;
}
