@import url(https://fonts.googleapis.com/css?family=Cabin);

body {
  background-color: #F5F5F5;
  font-size: 16px;
  padding: 0px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 4px 0;
}

.status-wrapper {
  font-family: 'Cabin', sans-serif;
}

.status-wrapper .col-1,
.status-wrapper .col-2 {
  float:left;
}

.status-tab {
  height: 162px;
  width: 40px;
  background: url(../img/chat-closed.png);
}

.status-info > * {
  text-align: center;
}

.status-content a {
  display: block;
  font-size: 14px;
  margin: 2px auto;
  text-align: center;
}

.chat-open {
  background: url(../img/chat-open.png);
}

.chat-busy {
  background: url(../img/chat-busy.png);
}

.chat-closed {
  background: url(../img/chat-closed.png);
}


.btn {
  background: #85b429;
  color: #fff;
  font-family: 'Cabin', sans-serif; 
  margin-top: 25px;
  padding: 10px 15px;
  text-decoration: none;
  width: 60%;
}

.status-content{
  margin: 0 8px;
  width: 160px;
}

.status-content ul{
  margin: 0;
  padding: 0;
}

.status-content ul li{
  font-size: 12px;
  list-style: none;

}

.status-info {
  font-size: 12px; 
}
.read-more {
  display: inline-block; 
  margin: 10px 0 0; 
  text-align: center; 
  width: 100%;
}
.read-more a {
  color: #0B5A7C; 
  font-size: 12px; 
  text-decoration: none;
}
.read-more a:hover{
  text-decoration: underline;
}
