@import url(https://fonts.googleapis.com/css?family=Cabin);
body {
  background-color: #F5F5F5;
  padding: 0px;
}

.status-wrapper {
}

.status-wrapper .col-1,
.status-wrapper .col-2 {
  float: left;
}

.status-wrapper .col-1 {

}
.hide {
  display: none;
}

.status-tab {
  font-size: 12px;
  height: 162px;
  width: 40px;
  background: url(../img/kram-closed.png);
}

.chat-open {
  background: url(../img/kram-open.png);
}

.chat-busy {
  background: url(../img/kram-busy.png);
}

.chat-closed {
  background: url(../img/kram-closed.png);
}

.btn {
  background: #85b429;
  color: #fff;
  font-family: 'Cabin', sans-serif; 
  margin-top: 25px;
  padding: 10px 15px;
  text-decoration: none;
  width: 60%;
}

.status-content{
  margin: 0 8px;
  width: 200px;
  text-align: center;
}

.status-content ul{
  margin: 0;
  padding: 0;
}

.status-content ul li{
  font-size: 16px;
  list-style: none;

}

.status-info {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  text-align: center;
}
